
/* Tablet 768px */

@media screen and (min-width: 768px){
    header{
        text-align: start;
    }

    h1{
        font-size: 40px;
    }

    main{
        padding: 40px;
    }

    .name-product{
        font-size: 35px;
    }

    .name-product span{
        display: inline-block;
    }

    .mode-instruction ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .mode-instruction li{
        flex-basis: calc(100% / 3 - 20px / 3);
    }

    .icons a{
        padding: 15px 50px;
    }

    .adv{
        display: block;
    }

    figure img{
        float: left;
        margin-right: 10px;
    }

}

/* Desktop 992px */

@media screen and (min-width: 992px){
    h1{
        font-size: 50px;
        padding-top: 0;
    }

    main{
        max-width: 1080px;
        margin: 0 auto;
    }

    .name-product{
        font-size: 40px;
    }

    .mode-instruction ul{
        display: block;
    }

    .main-instruction{
        flex-direction: row;
    }

    .col-video{
        flex-basis: 60%;
    }

    .col-instruction{
        flex-basis: 40%;
    }

    .icons a{
        padding: 10px 25px;
        font-size: 14px;
    }

    .icons span{
        display: inline-block;
    }

}