/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-family:'Nerko One', cursive;
    color: #FF9614;
    font-weight: 900;
    padding-top: 15px;
}

h4{
    color: #9999B0;
}

i{
    color: #FF9614;
    margin-right: 10px;
}

ul{
    list-style-type: none;
}

/* Utils */

.flex{
    display: flex;
}

/* HEADER */

header{
    height: 80px;
    text-align: center;
}

/* MAIN */

main{
    background-color: #F6F5F3;
    padding: 30px;
}

/* main product */

.main-product{
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.name-product{
    color: #4E3969;
    font-size: 30px;
    font-weight: 900;
}


.rate{
    background-color: #FF9614;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    border: 0;
    font-weight: bolder;
}

/* mai instruction */

.main-instruction{
    flex-direction: column;
}

.col{
    flex-basis: 100%;
}

.col-video{
    flex-basis: 50%;
    padding-top: 30px;
}

iframe{
    width: 100%;
}

.col-instruction{
    flex-basis: 50%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px lightgrey;
}

.general-instruction{
    background-color: #F6F5F3;
    padding: 20px;
    margin-bottom: 30px;
}

.general-info{
    justify-content: space-between;
    padding: 10px 0;
}

.type-food{
    padding-top: 20px;
    border-top: 1px solid lightgray;
}

.kcal{
    background-color: #7B69A2;
    color: white;
    
    border-radius: 7px;
    padding: 5px 8px;
}

.info{
    color: #FF9614;
    font-size: 20px;
    font-weight: bolder;
}

.fa-carrot{
    color: black;
    margin-right: 10px;
}

.mode-instruction i{
    color: #FF9614;
}

.mode-instruction li{
    padding: 5px 0;
}

/* barra social network */

.icons{
    margin: 30px 0;
    justify-content: space-around;
}

.icons a{
    padding: 15px 20px;
    background-color: white;
    box-shadow: 2px 2px lightgrey;
    border-radius: 20px;
}

/* banner pubblicitario */

.adv{
    display: none;
}